.App {
	text-align: center;
	height: 100%;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

ul.NavBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #444;
}

li {
	float: left;
	cursor: pointer;
	font-family:"Lucida Sans Unicode";
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

li.SignOut{
	float: right;
}

div.AppName {
	font-family:"Lucida Sans Unicode";
	color: white;
	cursor: default;
	font-size: 24px;
	padding: 10px 20px 10px 20px;
}

div.SignInPrompt {
	font-family:"Lucida Sans Unicode";
	font-size: 30px;
	padding: 20px 20px 20px 20px;
}

div.Loading {
	text-align: center;
	font-family:"Lucida Sans Unicode";
	font-size: 30px;
	padding: 100px;
}

div.Welcome {
	font-family: "Lucida Sans Unicode";
	font-size: 30px;
	margin-left: 400px;
}

div.SignedIn {
	height: calc(100% - 57px);
}