div.Note {
	margin-left: 400px;
	background-color: #182438;
	text-align: left;
	color: #cbd9f0;
	overflow: hidden;
	padding: 4px 0px 8px 0px;
	height: calc(100% - 12px);
	width: calc(100% - 400px);
}

div.NoteInner {
	background-color: #182438;
	text-align: left;
	color: #cbd9f0;
	overflow: hidden;
	height: 100%;
}

input.Title {
	background-color: #1c3462;
	color: #cbd9f0;

	margin-left: 4px;
	margin-bottom: 4px;

	font-size: 20px;
	font-family:"Lucida Sans Unicode";

	width: calc(100% - 14px);
}

textarea.Body {
	background-color: #1c3462;
	color: #cbd9f0;

	margin-left: 4px;

	font-size: 16px;
	font-family:"Lucida Sans Unicode";
	overflow: auto;
	resize: none;

	width: calc(100% - 16px);
	min-height: 100px;
	height: calc(100% - 50px);
}