nav ul.noteNav {
	height: calc(100% - 57px);
	width: 400px;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #182438;
	overflow: hidden;
	overflow-y: scroll;
	margin-top: 0px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

nav ul.noteNav a {
	float: center;
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 20px;
	font-family:"Lucida Sans Unicode";
	color: #cbd9f0;
	display: block;
	cursor: pointer;
	border-style: none none solid none;
	border-width: 1;
	border-color: #346DD8;
	background-color: #1c3462;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: nowrap;
	min-height: 31px;
}

nav ul.noteNav a:hover {
	color: #cbd9f0;
	background-color: #264582;
}

nav ul.noteNav a.selectedNote {
	color: #cbd9f0;
	background-color: #335EB2;
}

/*
nav ul.noteNav a.selectedNote:hover {
	color: #cbd9f0;
	background-color: #335EB2;
}


nav ul.noteNav a.NewNote {
	color: #555;
	background-color: #eee;
}

nav ul.noteNav a.NewNote:hover {
	color: #000;
	background-color: #ccc;
}
*/
